// 테마 임베딩 보정
:not(pre) > code[class*="language-"] {
  background: var(--bg-sub); // !important;
  color: var(--font-sub);
  padding: 0.2rem 0.5rem; padding-right: 0;
}

pre[class*="language-"] {
  font-size: 1.3rem;
}
