.toc {
  
  margin-left: -15px;
  position: fixed;
  top: 45rem;
  z-index: 100;
  display: inline-block;
  width: 25rem;
  height: auto;
  overflow: hidden;
  font-size: 1.4rem;
  border: 1px solid var(--border-main);
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: var(--bg-none);
  @media screen and (max-width: 640px) {
    visibility: hidden;
  }

  &--none {
    display: none;
  }

  &__title {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    text-indent: -999px;
  }

  &__list {
    padding: 1.5rem 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin: 0;
    padding: 0 1.5rem;
    position: relative;
    list-style: none;
    line-height: 2;
    color: var(--font-sub);
    cursor: pointer;
    user-select: none;

    &:hover {
      background: hsla(82, 55%, 54%, .2)
    }

    &:before {
      content: '\2055';
      display: inline-block;
      font-size: 1rem;
      vertical-align: top;
    }

    &--h2 {
      &:before {
        margin-right: 0.4rem;
      }
    }

    &--h3 {
      font-size: 1.3rem;
      &:before {
        content: '\2055';
        margin: 0 0.4rem 0 0.8rem;
      }
    }

    &.is-active {
      color: orange;
    }
  }
}
