.header-back {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  /*
    낮 (밝은 테마)
   */

  .day {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;

    // 초기화: 겟츠비 레이아웃
    list-style: none;
    margin: 0;
    padding: 0;
    > * {
      margin: 0;
      padding: 0;
    }

    // 아이템
    .cactus {
      position: absolute;
      left: 23%;
      bottom: 0px;
      width: 100px;
      height: 160px;

      /*임시*/
      border: 2px dashed #eee;
    }

    .cloud {
      position: absolute;
      width: 150px;
      height: 100px;
      border-radius: 3px;
      /*임시*/
      background: rgb(240, 240, 240);
      opacity: 0.2;

      &.c1 {
        left: 0px;
        top: 140px;
        z-index: -1;
      }

      &.c2 {
        right: 0px;
        top: 210px;
        z-index: 1;
      }
    }

    // 토글
    &.enter {
      display: inline-block;
      opacity: 0;

      .cactus {
        transition: transform 1s ease;
        transform: translateY(100%);
      }

      .cloud {
        transition: transform 3s ease, opacity 1s ease;
        opacity: 0;

        &.c1 {
          left: 0px;
          top: 140px;
          z-index: -1;
          transform: translateX(-20%);
        }

        &.c2 {
          right: 0px;
          top: 210px;
          z-index: 1;
          transform: translateX(20%);
        }
      }
    }

    &.enter.done {
      opacity: 1;

      .cactus {
        transform: translateY(0%);
      }

      .cloud {
        animation-delay: 3s;

        &.c1 {
          left: 0px;
          top: 90px;
          z-index: -1;
          transform: translateX(50px);
          opacity: 1;
        }

        &.c2 {
          right: 0px;
          top: 210px;
          z-index: 1;
          transform: translateX(-50px);
          opacity: 1;
        }
      }
    }
  }

  /*
    밤 (어두운 테마)
   */

  .night {
    position: absolute;
    left: 50%;
    top: 0; // z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 50%;
    transform: translate(-50%, 50%) rotateZ(90deg);
    transition: opacity 4s ease, transform 2s ease;
    display: none;

    // 초기화: 겟츠비 레이아웃
    list-style: none;
    margin: 0;
    padding: 0;
    > * {
      margin: 0;
      padding: 0;
    }

    // 토글
    &.enter {
      display: inline-block;
      opacity: 0;
      transform: translate(-50%, 50%) rotateZ(-180deg);
    }

    &.enter.done {
      opacity: 1;
      transform: translate(-50%, 50%) rotateZ(0deg);
    }

    // 아이템
    .star {
      position: absolute;
      z-index: -1;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: rgba(255, 255, 255, 1);
      opacity: 1;

      &.s1 {
        animation: star 5s infinite;
        left: 0%;
        top: -20%;
      }
      &.s2 {
        animation: star 4s infinite;
        left: 27%;
        top: -26%;
      }
      &.s3 {
        animation: star 3s infinite;
        left: 84%;
        top: 0%;
      }
      &.s4 {
        animation: star 5s infinite;
        left: 60%;
        top: 20%;
      }
      &.s5 {
        animation: star 4s infinite;
        left: 70%;
        top: -34%;
      }
      &.s6 {
        animation: star 3s infinite;
        left: 95%;
        top: 10%;
      }
    }
  }
}

@keyframes star {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
